################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MouseMacros/bin
*.suo
/MouseMacros/obj
/packages
/MouseMacros/data